body {
  background: rgb(57, 53, 53);
  color: white;
  font-family: Helvetica;
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pad-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  height: 100vh;
  max-height: 600px;
  width: 100vw;
  max-width: 600px;
}

.pad {
  max-height: 200px;
  height: auto;
  width: auto;
  border: 1px solid black;
  cursor: pointer;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.05s;
}

.pad.playing {
  transform: scale(1.1);
}